<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Acceso denegado</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>Acesso denegado, No tienes permiso de ejectar esta accion</div>
        <a th:href="@{/}">[[#{accion.regresar}]]</a> 
    </body>
</html>
